:root{
    --bg-prymary: #0A3871;
    --bg-secondary: #D8DFE8;
    --bg-tertiary: #F3F5FC;
    --bg-quarter: #FFF;
    --color-prymary: #fff;
    --color-secondary: #0A3871;
    --color-tertiary: #495057;
    --bg-button-prymary: #0A3871;
    --bg-button-secondary: #D8DFE8;
}